{% extends "inicio.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
</head>
{% block header1 %}
<center>
    <body>
        <h1>Cambiar Avatar</h1>
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Aceptar">
        </form>
    </body>
</center>
{% endblock %}
</html>