{% extends "inicio.html" %}

{% load static %}

<link rel="stylesheet" href=" C:\Users\otero\Desktop\Pokio\Cursos\CoderHouse\Python (CoderHouse)\Desafios\VerdaderoFinal\MiPagina\Farmacia\static\css\miestilo.min.css" %}>
{% block header1 %}
<center>
    <div>
        <h1>Perfil</h1>
        <img src="{{ request.user }}" width="30px">
    </div>
    <div style="position: relative; top:20px;">
        <ul>
            <li>Nombre: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
            <li>Nombre: {{ user.first_name }}</li>
            <li>Apellido: {{ user.last_name }}</li>
        </ul>
        <a class="btn btn-success" style="text-decoration:none; color: white" href="editarperfil/" >Editar Usuario</a>
        <a class="btn btn-success" style="text-decoration:none; color: white" href="changeavatar/" >Cambiar Avatar</a>
    </div>
</center>
{% endblock %}