{% extends "inicio.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
{% block header2 %}
{% endblock %}
{% block header3 %}
{% endblock %}
{% block header1 %}
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" style="margin-left:100px" style="margin-top:20px">Registrarse</button>
    </form>
    <a href="/login" class="btn btn-success" aria-current="page" style="margin-left:65px" style="margin-top:20px">Ya tengo una cuenta</a>
</body>
{% endblock %}
</html>